body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    font-family: 'Kaushan Script', cursive, Arial, Helvetica, sans-serif;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top {
    height: 120px;
    width: 100%;
    background-color: rgb(73, 9, 102);
    position: fixed;
    z-index: -1;
}

.chatbox {
    height: calc(100% - 40px);
    width: 94%;
    margin-top: 25px;
}

.profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.form-rounded {
    border-radius: 1rem;
}