body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    font-family: 'Kaushan Script', cursive, Arial, Helvetica, sans-serif;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top {
    height: 120px;
    width: 100%;
    background-color: rgb(73, 9, 102);
    position: fixed;
    z-index: -1;
}

.chatbox {
    height: calc(100% - 40px);
    width: 94%;
    margin-top: 25px;
    padding: 0;
}

.profile-pic {
    width: 45px;
    height: 45px;
}

.friends-pic {
    width: 50px;
    height: 50px;   
    border-radius: 50%;
}
.form-rounded {
    border-radius: 1rem;
}

.name {
    font-weight: 500;
    color: #000000;

}

.message {
    font-size: 12px;
    line-height: 15px;
    max-height: 15px;
}

.icons {
    font-size: 20px;
    color: #c2bdbe;
    text-align: right;
    cursor: pointer;
}

.main-icon {
    font-size: 260px;
    text-align: center;
    color: rgb(71, 1, 104);
}

.text h2,.text h3 {
    margin: 0 auto;
    text-align: center;
    color: rgb(71, 1, 104);
    margin-top: 10px;
}

