body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    font-family: 'Kaushan Script', cursive, Arial, Helvetica, sans-serif;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top {
    height: 120px;
    width: 100%;
    background-color: rgb(73, 9, 102);
    position: fixed;
    z-index: -1;
}

.chatbox {
    height: calc(100% - 40px);
    width: 94%;
    margin-top: 25px;
    padding: 0;
}

.profile-pic {
    width: 45px;
    height: 45px;
}

.friends-pic {
    width: 50px;
    height: 50px;   
    border-radius: 50%;
}
.form-rounded {
    border-radius: 1rem;
}

.name {
    font-weight: 500;
    color: #000000;

}

.message {
    font-size: 12px;
    line-height: 15px;
    max-height: 15px;
}

.icons {
    font-size: 20px;
    color: #c2bdbe;
    text-align: right;
    cursor: pointer;
}

.main-icon {
    font-size: 220px;
    text-align: center;
    margin: 0 auto;
    color: rgb(71, 1, 104);
}

.text h2,.text h3 {
    margin: 0 auto;
    text-align: center;
    color: rgb(71, 1, 104);
    margin-top: 5px;
}

.chatTemplate {
    width: 530px;
    margin: 0 auto;
}



/* card body (sent and recieve messages) */
.chat-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.recieve-msg {
    background-color: rgb(100, 3, 144);
    color: #ffffff;
    border-radius: 1rem;
    padding: 6px 12px;
    display: inline-block;
}

.time {
    font-size: 60%;
    color: rgb(209, 198, 198);
    margin-left: 16px;
}

.sent-msg {
    background-color: rgb(240, 230, 230);
    color: rgb(100, 3, 144);
    border-radius: 1rem;
    padding: 6px 12px;
    display: inline-block;
}

.card {
    
}

@media (max-width:800px) {
    .chatTemplate {
        width: 560px;
        margin: 0 auto;
    }
}

@media (max-width:600px) {
    .chatTemplate {
        width: 640px;
        margin: 0 auto;
        font-size: 90%;
    }
}

@media (max-width:420px) {
    .chatTemplate {
        width: 340px;
        margin: 0 auto;
    }
}

